{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pH4Markerplace</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="{% static 'img/logo.png' %}" height="23">
                            </a>
                        </div>
                        <form action="" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Find services">
                            </div>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            {% if user and not user.is_anonymous %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" class="img-circle" height="22" width="22">
                                        {{ user.get_full_name|default:user.username }} <spam class="caret"></spam>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="category">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Scripts &amp; Software</a></li>
                            <li><a href="#">Graphics &amp; Design</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Music &amp; Sounds</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="body">
            <div class="container">
                {% block page %}
                {% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <span><strong><a href="https://ph4marketplace.com">pH4Marketplace</a></strong> &copy; 2018</span>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
