{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Markerplace</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        <header>
            Header
            <p>
                {% if user and not user.is_anonymous %}
                    Hello {{ user.get_full_name|default:user.username }}
                {% else %}
                    I don't think we've met before
                {% endif %}
            </p>
            <p>
                <a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}">Login</a><br />
                <a href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a>
            </p>
        </header>
        <hr />
        {% block page %}

        {% endblock %}

        <footer>

        </footer>
    </body>
</html>
